<h1>Leaderboard</h1>

<div class="table-responsive">
  <table class="table table-striped">
    <caption>
      <div class="btn-group">
        <button type="button" id="all_time" class="btn btn-primary">
          All time
        </button>
        <button type="button" id="monthly" class="btn btn-primary">
          Monthly
        </button>
        <button type="button" id="daily" class="btn btn-primary">
          Daily
        </button>
      </div>
    </caption>
    <thead>
      <tr class="info">
        <th> # </th>
        <th> Name </th>
        <th> Victories </th>
        <th colspan="2"> Favorite Hand </th>
      </tr>
    </thead>
    <tbody>
      <%= render 'leaderboards/all_time' %>
    </tbody>
  </table>
</div>
