<%= provide(:title, "About") %>
<div class="container">
  <h1> About </h1>
  <ul>
    <li> What is the Rock, Papers, Scissors app?
      <div class="container">
        <p>The Rock, Papers, Scissors app is a simple game, my internship project.</p>
      </div>
    </li>

  </ul>
</div>
