<%= provide(:title, "Help") %>
<div class="container">
  <h1> Help </h1>
  <ul>
    <li> What can you do in this application? </li>
    <div class="container">
        <p><br>Make friends and chat with them.</p>
        <p>Challenge other players.</p>
        <p>Edit your profile data.</p>
        <p>Purchase skins or get them with your xp.</p>
        <p>Have fun!</p>
    </div>
  </ul>
</div>
