<% provide(:title, 'My Friends') %>
<% if !@my_friends.empty? %>
  <h1>My Friends</h1>

  <div id="my_friends">
    <%= render "friendships/friends" %>
  </div>

<% else %>
  <h1>You have currently no friends, you lonely wolf</h1>
<% end %>
