<%= link_to "Add a skin", "#add_skin_modal", class: "btn btn-default", id: "add_skin_button", data: {toggle: "modal"} %>

<div class="modal fade" id="add_skin_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close" data-behavior="close_add_skin_modal">
                  <span aria-hidden="true">&times;</span>
              </button>
                <h4 class="modal-title w-100 font-weight-bold">New Skin</h4>
            </div>
            <div class="modal-body mx-3">
              <%= render 'add_skin_form' %>
            </div>
        </div>
    </div>
</div>
