<h1> Skins </h1>
<div class="table-responsive", id="skins_shop">
  <table class="table">
    <caption class="row">
      <div class="btn-group col-md-4">
        <button type="button" id="all-skins" class="btn btn-default">
          All
        </button>
        <button type="button" id="rock-skins" class="btn btn-default">
          Rock
        </button>
        <button type="button" id="paper-skins" class="btn btn-default">
          Paper
        </button>
        <button type="button" id="scissors-skins" class="btn btn-default">
          Scissors
        </button>
      </div>

      <div class="col-md-4" data-behavior="pagination">
        <%= will_paginate @skins %>
      </div>

      <div class="col-md-4">
        <% if current_user.admin? %>
          <%= render 'add_skin_option' %>
        <% end %>
      </div>
    </caption>
    <thead>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </thead>
    <tbody id="skins_table_content">
      <%= render 'all_skins' %>
    </tbody>

  </table>
</div>
