<div id="my_skin">
  <% if @choices[@me] %>
    <%= image_tag @my_skin.image.url(:medium) %>
  <% end %>
</div>
<div id="enemy_skin">
  <% if @choices[@enemy] && @choices[@me]%>
    <%= image_tag @enemy_skin.image.url(:medium) %>
  <% end %>
</div>
