<div class="players">
  <div>
    <%= gravatar_for @me %>
    <h4> <%=@me.full_name%></h4>
  </div>
  <div>
    <h1> VS </h1>
  </div>
  <div>
    <%=gravatar_for @enemy %>
    <h4><%=@enemy.full_name%></h4>
  </div>
</div>

<div class="choices">

  <button type="button" class="btn btn-primary btn-lg">
    <span class="fa fa-hand-rock-o"></span>  Rock
  </button>

  <button type="button" class="btn btn-primary btn-lg">
    <span class="fa fa-hand-paper-o"></span>  Paper
  </button>

  <button type="button" class="btn btn-primary btn-lg">
    <span class="fa fa-hand-scissors-o"></span>  Scissors
  </button>
</div>
