// Place all the styles related to the Skins controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#add_skin_button {
  float: right;
}

#skins_shop {
  table {
    caption {
      .pagination {
        margin: 0;
        a {
          padding: 4px 8px;
        }
      }
    }
  }
}
