<footer class="footer">
  <small>
    The Rock, Papers, Scissors application by <a href="https://www.linkedin.com/in/tudor-maxim-3bb705156/">Tudor Maxim</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</footer>
