<header class="navbar navbar-fixed-top navbar-default">
  <div class="container">
    <%= link_to "Rock, Papers, Scissors", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home", root_path, id: "bar_item" %></li>
        <li><%= link_to "Help", help_path, id: "bar_item" %></li>
        <li><%= link_to "Log in", new_user_session_path, id: "bar_item" %></li>

      </ul>
    </nav>
  </div>
</header>
